
:root {
    --primary-color: #2AA7E0;
    --primary-color-1: #ffa500;
    --body-color: #FBFCFC;
    --text-color: white;
    --tool-color:#F2F3F4;
}

#root, main, #home {
    height: 100%;
}

.app main {
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    height: 100vh;
    /* max-width: 1200px; */
    margin: auto;
}